@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-color: rgba(5, 7, 12, 0.65);
  --darker-gradient-color: rgba(5, 7, 12, 0.75);
}

@layer components {
    .fancytexthover {
        @apply relative inline-block after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[1px] after:w-0 after:bg-yellow-500 after:transition-all after:duration-500 hover:after:w-full;
    }
    .bg-turnos {
        @apply !bg-neutral-950/90
    }
    .flex-container {
        @apply flex justify-center items-center
    }
    .father-scroll {
        @apply overflow-y-scroll snap-y snap-mandatory
    }
}

.fancytexthover:hover .textwrapper {
    width: 100%;
}

.text-webkit-center {
  text-align: -webkit-center;
}

.text-hover-effect:hover {
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.65) 30%, #000 50%, rgba(0,0,0,.65) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
  }
  
.text-effect {
    mask-image: linear-gradient(-75deg, rgba(145, 120, 10, 0.75) 30%, #d6d308 50%, rgba(145, 120, 10, 0.75) 70%);
    mask-size: 200%;
    animation: shine 3s infinite;
  }
  
  @keyframes shine {
    from {
      mask-position: 150%;
    }
    
    to {
      mask-position: -50%;
    }
  }
  
::-webkit-scrollbar {
  display: none;
}

.text-align-last {
  text-align-last: center;
}
